<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= url('/dist/output.css') %>" rel="stylesheet">
    <title>INPRO</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">Industrial Proveedora Las Californias</h1>
  </body>
</html>